<template>
    <div>
        <label>Componen</label>
        <br>
        <label>Fist Name : <input type="text" v-model="firstName" @keyup="setModelValue"/> </label>
        <br>
        <label>Last Name : <input type="text" v-model="lastName" @keyup="setModelValue"/> </label>
        <br>
        <button @click="addUser">Add Name</button>
    </div>
</template>

<script>
export default {
    name: "InputName",
    data() {
        return {
            firstName: "",
            lastName: ""
        }
    },
    props: ["value"],
    created: function() {
        this.firstName = this.value.first
        this.lastName = this.value.last
    },
    methods: {
        addUser() {
            this.$emit('add-user')
        },
        setModelValue() {
            this.value.first = this.firstName
            this.value.last = this.lastName
        }
    }
}
</script>