<template>
    <div>
        <label>Componen</label>
        <br>
        <label>Fist Name : <input type="text" v-model="firstName"/> </label>
        <br>
        <label>Last Name : <input type="text" v-model="lastName"/> </label>
        <br>
        <button @click="addName">Add Name</button>
    </div>
</template>

<script>
export default {
    name: "InputName",
    data() {
        return {
            firstName: "",
            lastName: ""
        }
    },
    methods: {
        addName() {
            let newName = {
                first: this.firstName,
                last: this.lastName
            }

            this.$store.commit('addNewName', newName)
        }
    }
}
</script>