<template>
  <div id="app">
    <span>{{ message }}</span>
    <ul>
        <li v-for="name in names" :key="name">{{ fullName(name.first, name.last) }}</li>
    </ul>
    
    <div>
        <label>Basic</label>
        <br>
        <label>First Name : <input type="text" v-model="newName.first"/> </label>
        <br>
        <label>Last Name : <input type="text" v-model="newName.last"/> </label>
        <br>
        <button @click="addUser">Add Name</button>
    </div>
    <br>
    <InputName 
        @add-user="addUser" 
        v-model="newName" />
    {{ newName }}

  </div>
</template>

<script>
import InputName from './components/InputName.vue'

export default {
  name: 'app',
  data() {
      return {
          newName: {
              first: "A",
              last: "B"
          },
          message: "Daftar Name",
          names: []
      }
  },
  methods: {
      addUser() {
          let name = Object.assign({}, this.newName)
          this.names.push(name)
          this.newName.first = ""
          this.newName.last = ""
      },
      addUserFromComponent() {
          alert("from component" + this.newName);
      },
      fullName(first, last) {
          return first + " " + last
      }
  },
  /*
  watch: {
      firstName(val) {
          this.fullname = val + " " + this.lastname
      },
      lastName(val) {
          this.fullname = this.firstName + " " + val
      }
  },
  */
  computed: {
      fullname() {
          return this.newName.first + " " + this.newName.last
      }
  },
  created: function() {
      console.log("App Created!")
  },
  components: {
      InputName
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
