<template>
  <div id="app">
    <span>{{ message }}</span>
    <ul>
        <li v-for="name in names" :key="name.first">{{ fullName(name.first, name.last) }}</li>
    </ul>

    <div>
        <label>Basic</label>
        <br>
        <label>First Name : <input type="text" v-model="firstName"/> </label>
        <br>
        <label>Last Name : <input type="text" v-model="lastName"/> </label>
        <br>
        <button @click="addUser">Add Name</button>
    </div>
    <br>
    <input-name />

  </div>
</template>

<script>
import InputName from './components/InputNameVuex.vue'

export default {
  name: 'app',
  data() {
      return {
          message: "Name List",
          firstName: "",
          lastName: ""
      }
  },
  methods: {
      addUser() {
          let newName = {
              first: this.firstName,
              last: this.lastName
          }
          this.$store.commit('addNewName', newName)
      },
      fullName(first, last) {
          return first + " " + last
      }
  },
  computed: {
      names() {
          return this.$store.getters.names
      },
      fullname() {
          return this.firstName + " " + this.lastName
      }
  },
  created: function() {
      console.log("App Created!")
  },
  components: {
      "input-name": InputName
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
